:root {
    --paragraph-font: "Source Sans 3", sans-serif;
    --primary-color: #b80257;
}

html {
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", sans-serif;
}

li {
    list-style: none;
}

.header-wrapper {
    width: 100%;
    min-height: 496px;
    background-image: url(../../images/bg-image-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.header-wrapper .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

.header-wrapper .container {
    min-width: 100%;
    margin: auto;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #000;
}

.header-wrapper .header {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.header-wrapper .header .logo {
    /* padding-right: 36px; */
}

.nav > li > a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-family: "PT Sans", sans-serif;
    padding: 12px 20px;
}

.header-wrapper .header .nav {
    display: flex;
    font-size: 1.6rem;
    gap: 4px;
}

.nav > li {
    position: relative;
}

.nav li:hover .subnav {
    display: block;
    max-height: 500px;
}

.subnav {
    /* display: none; */
    overflow: hidden;
    background-color: #fff;
    min-width: 220px;
    max-height: 0;
    position: absolute;
    top: 40px;
    left: 0;
    transition: max-height linear 0.4s;
}

.subnav::before {
    content: "";
    height: 16px;
    display: inline-block;
    background: transparent;
    position: absolute;
    min-width: 220px;
    top: -14px;
    left: 0;
}

.subnav li {
    background-color: #fff;
    transition: background-color ease-in-out 0.3s;
}

.subnav li:hover {
    background-color: #b80257;
}

.subnav a {
    color: #0009;
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    line-height: 45px;
    padding: 0 25px;
    transition: translate ease-in-out 0.3s;
    translate: 0;
    text-transform: capitalize;
    font-family: "PT Sans", sans-serif;
}

.subnav a:hover {
    color: #fff;
    translate: 6px;
}

.subnav li:nth-child(2) a {
    border-top: 1px solid #0000000d;
    border-bottom: 1px solid #0000000d;
}

.sub-search {
    display: none;
    position: absolute;
    top: 25px;
    right: 16px;
    min-width: 270px;
    background-color: #fff;
}

.sub-search input,
.sub-search button {
    border: none;
    outline: none;
    flex-grow: 1;
    line-height: 45px;
}

.sub-search input {
    padding: 0 16px;
}

.sub-search button {
    margin: 6px 6px;
    position: relative;
    left: 12px;
    line-height: 44px;
    background-color: #b80257;
    min-width: 48px;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.header-wrapper .header .icon {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    gap: 28px;
    position: relative;
    cursor: pointer;
}

.box-icon-search::before {
    content: "";
    height: 16px;
    display: inline-block;
    background: transparent;
    position: absolute;
    min-width: 220px;
    top: 15px;
    right: 0px;
}

.icon .box-icon-search:hover .sub-search {
    display: block;
}

.header-content {
    flex-grow: 1;
}

.wrapper-content-header {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-content-header .breadcrumb {
    padding: 10px 0;
    font-size: 1.5rem;
}

.wrapper-content-header h1,
.wrapper-content-header a {
    color: #fff;
}

.wrapper-content-header h1 {
    font-size: 3.2rem;
}

.wrapper-content-header a {
    font-size: 1.6rem;
    text-decoration: none;
}

.wrapper-content-header a + a::before {
    content: "/";
    color: #fff;
    padding: 0 4px;
}

/* Start css content */
.inner-content {
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    gap: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
}
.sidebar h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.inner-content .form-search {
    border-radius: 22px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.inner-content .search,
.inner-content button {
    border: none;
    background-color: #fff;
}

.inner-content .search:focus {
    border: none;
    outline: none;
}

.inner-content button {
    cursor: pointer;
}

.inner-content .search {
    padding: 12px 20px;
}

.inner-content button:not(.btn) {
    padding: 12px 14px;
    color: #585454;
    font-size: 1.6rem;
}

.sidebar .nav-sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar .nav-sidebar li {
    flex-grow: 1;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar .nav-sidebar li a {
    translate: 0;
    transition: translate linear 0.3s;
}

.sidebar .nav-sidebar li:hover a {
    color: #783df0;
    translate: 8px;
}

.sidebar .nav-sidebar li + li {
    border-top: none;
}

.sidebar .nav-sidebar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000b3;
    line-height: 40px;
    padding: 0 24px;
    display: block;
    font-family: "Source Sans 3", sans-serif;
}

.topics {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.topics li {
    border-radius: 16px;
    background-color: #fff;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.topics li:hover {
    background-color: #783df0;
}
.topics li:hover > a {
    color: #fff;
}

.topics li:first-child {
    background-color: #783df0;
    color: #fff;
}

.topics a {
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    font-family: var(--paragraph-font);
    line-height: 30px;
    padding: 0 14px;
    color: inherit;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.courses-list {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.courses {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.courses .box-img-course {
    overflow: hidden;
}

.courses .img {
    transform: scale(1);
    opacity: 1;
    transition: transform ease 0.6s, opacity ease 0.6s;
    min-height: 100%;
    max-width: 100%;
}

.courses:hover .box-img-course {
    background-color: #783df0;
}

.courses:hover .img {
    transform: scale(1.2);
    opacity: 0.6;
}

.courses:nth-child(2) .box-img-course:before,
.courses:nth-child(5) .box-img-course:before,
.courses:nth-child(8) .box-img-course:before {
    content: "\e0b7";
    font-family: "Font Awesome 6 Free";
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    width: 140px;
    height: 38px;
    display: flex;
    background-color: #b80257;
    position: absolute;
    top: -16px;
    right: -56px;
    z-index: 1;
    transform: rotate(43deg);
    justify-content: center;
    align-items: flex-end;
    padding: 10px 0;
}

.courses:hover .heading-courses a {
    color: #b80257;
}

.courses .heading-courses a {
    text-decoration: none;
    color: #464646;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}

.courses .sub-courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 12px;
    width: 92%;
}

.courses .paragraph {
    font-size: 1.6rem;
    line-height: 24px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: #000;
}

.courses .user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.courses .user-box span,
.courses .user-box i {
    font-size: 1.6rem;
    color: #838383;
}

.courses .btn {
    padding: 8px 21px;
    border-radius: 46px;
    background-color: #b80257;
    transform: translateY(0);
    transition: transform ease-in-out 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.courses .btn:hover {
    transform: translateY(-6px);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
}

.courses:nth-child(1) .btn,
.courses:nth-child(4) .btn,
.courses:nth-child(7) .btn {
    background-color: #783df0;
}

.courses .btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "PT Sans", sans-serif;
}

.courses .btn a::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 5%;
    right: 0;
    z-index: -1;
    height: 10px;
    width: 90%;
    opacity: 0;
    border-radius: 80%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    transition: opacity ease-in 0.3s;
}

.courses .btn:hover a::after {
    opacity: 1;
}
/* End css content */

/* Start pagination */

.main-content .pagination {
    display: flex;
    gap: 14px;
}

.main-content .pagination li {
    list-style: none;
}

.main-content .pagination li:hover a {
    color: #783df0;
    border: 1px solid #783df0;
}

.main-content .pagination li:first-of-type a {
    border: 1px solid #783df0;
    color: #783df0;
}

.main-content .pagination li:last-of-type {
    padding: 0 10px;
}

.main-content .pagination li:last-of-type a {
    background-color: #783df0;
    color: #fff;
}

.main-content .pagination a {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: var(--paragraph-font);
    font-weight: 600;
    color: #ccc;
}

/* End pagination */

/* Start footer */

.wrapper-footer:not(h3) {
    background-color: #000;
    color: #ffffff99;
    padding: 100px 0;
    margin-top: 60px;
}

.footer {
    display: flex;
    max-width: 1170px;
    margin: auto;
    gap: 26px;
    font-size: 1.4rem;
    font-family: var(--paragraph-font);
}

.footer .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-grow: 1.5;
    flex-basis: 30%;
}
.footer .footer-logo .logo-outside {
    display: flex;
    gap: 16px;
}

.footer .footer-logo .logo-outside li:last-of-type {
    margin-top: 2px;
}

.footer .footer-logo .logo {
    max-width: 100%;
    width: 72%;
}

.footer .footer-list {
    flex-basis: 18%;
    flex-grow: 1;
    flex-shrink: 1;
}

.footer .footer-list {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer .footer-list .items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .items li:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.footer .footer-list h3 {
    color: #fff;
    font-size: 2rem;
}

.footer .footer-subscribe {
    display: flex;
    flex-direction: column;
    flex-basis: 26%;
}

.footer .footer-subscribe .email {
    background: #272727;
    padding: 14px 16px;
    border: none;
    border-radius: 24px;
    color: #fff;
}

.footer .footer-subscribe .btn-footer {
    max-width: 36%;
    background-color: var(--primary-color);
    border-radius: 28px;
    text-transform: uppercase;
    border: none;
    transition: background-color ease-in-out 0.3s;
    position: relative;
}

.footer .footer-subscribe .btn-footer::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity ease-out 0.3s, visibility ease-out 0.3s,
        transform ease-in-out 0.3s;
}

.footer-subscribe .btn-footer a {
    font-weight: 700;
}

.footer .footer-subscribe .btn-footer:hover {
    /* background-color: #fff; */
}

.footer-subscribe .btn-footer:hover::before {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.footer-subscribe .btn-footer:hover a {
    position: relative;
    color: #b80257;
    z-index: 2;
}

.footer .footer-subscribe .btn-footer:hover a {
    color: var(--primary-color);
}
.footer .footer-subscribe .btn-footer a {
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-family: var(--paragraph-font);
}

/* End footer */

.scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 4px;
    right: 4px;
    background-color: #b80257;
    border: none;
    text-align: center;
}

.scroll-top a {
    color: #fff;
    font-size: 1.6rem;
    display: inline-block;
    padding: 12px 12px;
}
