:root {
    --paragraph-font: "Source Sans 3", sans-serif;
    --primary-color: #b80257;
}

html {
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", sans-serif;
}

li {
    list-style: none;
}

.header-wrapper {
    width: 100%;
    min-height: 496px;
    background-image: url(/Buoi7/images/bg-image-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.header-wrapper .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

.header-wrapper .container {
    width: 1170px;
    max-width: 100%;
    margin: auto;
    flex-grow: 0;
}

.header-wrapper .header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    justify-content: space-between;
}

.header-wrapper .header .logo {
    /* padding-right: 36px; */
}

.header-wrapper .header a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-family: "PT Sans", sans-serif;
}

.header-wrapper .header .nav {
    display: flex;
    font-size: 1.6rem;
    gap: 44px;
}

.header-wrapper .header .icon {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    gap: 28px;
}

.header-content {
    flex-grow: 1;
}

.wrapper-content-header {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-content-header .breadcrumb {
    padding: 10px 0;
}

.wrapper-content-header h1,
.wrapper-content-header a {
    color: #fff;
}

.wrapper-content-header h1 {
    font-size: 3.2rem;
}

.wrapper-content-header a {
    font-size: 1.6rem;
    text-decoration: none;
}

.wrapper-content-header a + a::before {
    content: "/";
    color: #fff;
    padding: 0 4px;
}

/* Start css content */
.inner-content {
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    gap: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
}
.sidebar h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.inner-content .form-search {
    border-radius: 22px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.inner-content .search,
.inner-content button {
    border: none;
    background-color: #fff;
}

.inner-content .search:focus {
    border: none;
    outline: none;
}

.inner-content button {
    cursor: pointer;
}

.inner-content .search {
    padding: 12px 20px;
}

.inner-content button:not(.btn) {
    padding: 12px 14px;
    color: #585454;
    font-size: 1.6rem;
}

.sidebar .nav-sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar .nav-sidebar li {
    flex-grow: 1;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar .nav-sidebar li:hover a {
    color: #783df0;
    padding-left: 34px;
}

.sidebar .nav-sidebar li + li {
    border-top: none;
}

.sidebar .nav-sidebar a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #000000b3;
    line-height: 40px;
    padding: 0 24px;
    display: block;
    font-family: "Source Sans 3", sans-serif;
}

.topics {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.topics li {
    border-radius: 16px;
}

.topics li:hover {
    background-color: #783df0;
}
.topics li:hover > a {
    color: #fff;
}

.topics li:first-child {
    background-color: #783df0;
    color: #fff;
}

.topics a {
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    font-family: var(--paragraph-font);
    line-height: 30px;
    padding: 0 14px;
    color: inherit;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.courses-list {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.courses {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.courses:hover .heading-courses a {
    color: #b80257;
}

.courses .heading-courses a {
    text-decoration: none;
    color: #464646;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}

.courses .sub-courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 12px;
    width: 92%;
}

.courses .paragraph {
    font-size: 1.6rem;
    line-height: 24px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: #000;
}

.courses .user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.courses .user-box span,
.courses .user-box i {
    font-size: 1.6rem;
    color: #838383;
}

.courses .btn {
    padding: 8px 18px;
    border-radius: 24px;
    background-color: #b80257;
}
.courses:nth-child(1) .btn,
.courses:nth-child(4) .btn,
.courses:nth-child(7) .btn {
    background-color: #783df0;
}

.courses .btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: "PT Sans", sans-serif;
}
/* End css content */

/* Start pagination */

.main-content .pagination {
    display: flex;
    gap: 14px;
}

.main-content .pagination li {
    list-style: none;
}

.main-content .pagination li:hover a {
    color: #783df0;
    border: 1px solid #783df0;
}

.main-content .pagination li:first-of-type a {
    border: 1px solid #783df0;
    color: #783df0;
}

.main-content .pagination li:last-of-type {
    padding: 0 10px;
}

.main-content .pagination li:last-of-type a {
    background-color: #783df0;
    color: #fff;
}

.main-content .pagination a {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: var(--paragraph-font);
    font-weight: 600;
    color: #ccc;
}

/* End pagination */

/* Start footer */

.wrapper-footer:not(h3) {
    background-color: #000;
    color: #ffffff99;
    padding: 100px 0;
    margin-top: 60px;
}

.footer {
    display: flex;
    max-width: 1170px;
    margin: auto;
    gap: 26px;
    font-size: 1.4rem;
    font-family: var(--paragraph-font);
}

.footer .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-grow: 1.5;
    flex-basis: 30%;
}
.footer .footer-logo .logo-outside {
    display: flex;
    gap: 16px;
}

.footer .footer-logo .logo-outside li:last-of-type {
    margin-top: 2px;
}

.footer .footer-logo .logo {
    max-width: 100%;
    width: 72%;
}

.footer .footer-list {
    flex-basis: 18%;
    flex-grow: 1;
    flex-shrink: 1;
}

.footer .footer-list {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer .footer-list .items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .items li:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.footer .footer-list h3 {
    color: #fff;
    font-size: 2rem;
}

.footer .footer-subscribe {
    display: flex;
    flex-direction: column;
    flex-basis: 26%;
}

.footer .footer-subscribe .email {
    background: #272727;
    padding: 14px 16px;
    border: none;
    border-radius: 24px;
    color: #fff;
}

.footer .footer-subscribe .btn-footer {
    max-width: 36%;
    background-color: var(--primary-color);
    border-radius: 28px;
    border: none;
}

.footer .footer-subscribe .btn-footer:hover {
    background-color: #fff;
}

.footer .footer-subscribe .btn-footer:hover a {
    color: var(--primary-color);
}
.footer .footer-subscribe .btn-footer a {
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-family: var(--paragraph-font);
}

/* End footer */
